*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: azure;

}
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between ; /* Garante que os itens sejam distribuídos */
    width: 100%;
    height: 80px;
    border: solid black 5px;
    border-bottom: solid rgb(0, 0, 0) 5px ;
    background-color: antiquewhite;
    overflow: auto; /* Garante que o menu não "quebre" */
    padding-left: 7px;
    padding-right: 7px;
}
.botao{
    background-color: antiquewhite;
    border: 0px;
    padding: 2px;
}
.botao:hover{
    transition: 0.5s;
    transform: scale(110%);
    background-color: rgb(247, 94, 94);
    border-radius: 10%;
}
.itens{
    width: 50px;
    height: 50px;
    margin-left: 19px;
    margin-right: 19px;
}
#enivar_img{
    width: 50px;
    height: 50px;
}
#Div_Esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 27px;
    font-weight: 600;
    margin: 10px;
}
.txtInput{
    width: 200px;
    height: 37px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    padding: 2%;
    border: solid black 3px;
}
.txtDescricao{
    margin-top: 5px;
    width: 100%;
    height: 230px;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    padding: 0.5%;
    resize: none;
    border: solid black 3px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#Div_Direita{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-top: 40px;
    

}
#modelo_rainha{
    display: flex;
}
#modelo{
    display: flex;
    height: 300px;
    border: solid black 5px;
    border-radius: 10px;
}

#modelo_imagem{
    display: none;
    border-radius: 10px;

}
#ImagemInput{
    padding-bottom: 10px;
}