*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que os itens sejam distribuídos */
    width: 100%;
    height: 80px;
    border: solid black 5px;
    border-bottom: solid rgb(0, 0, 0) 5px ;
    background-color: antiquewhite;
    overflow: auto; /* Garante que o menu não "quebre" */
}
.botao{
    background-color: antiquewhite;
    border: 0px;
    padding: 2px;
}
.botao:hover{
    transition: 0.5s;
    transform: scale(110%);
    background-color: rgb(247, 94, 94);
    border-radius: 10%;
}
.itens{
    width: 50px;
    height: 50px;
    margin-left: 19px;
    margin-right: 19px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background:azure;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
#opcoes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opcao_estilo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin: 30px;
    border: solid black 5px;
    border-radius: 10px;
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}
.opcao_estilo:hover{
    transition-duration: 0.5s ;
    transform: scale(110%);
    border-color: red;
}
.opcao_titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 40px;
    font-weight: 600;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    
}

.opcao_imagem{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
