*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: azure;
}

 /*------------Menu------------*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que os itens sejam distribuídos */
    flex-direction: column;
    width: 100%;
    height: 120px;
    border: solid black 5px;
    border-bottom: solid rgb(0, 0, 0) 5px ;
    background-color: antiquewhite;
    overflow: auto; /* Garante que o menu não "quebre" */
}
#cabecalho_cima{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#cabecalho_baixo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.itens{
    width: 50px;
    height: 50px;
    margin-left: 19px;
    margin-right: 19px;
}
.seta{
    width: 60px;
    height: 50px;
}
#casa {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-left: 20px; /* Espaço à esquerda */
}


#ferramentas {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    padding-right: 6%;
    flex: 1; /* Faz com que essa div ocupe o espaço restante */
    justify-content: center; /* Centraliza os itens dentro de ferramentas */
}
.botao{
    background-color: antiquewhite;
    border: 0px;
    padding: 2px;
}
.botao:hover{
    transition: 0.5s;
    transform: scale(110%);
    background-color: rgb(247, 94, 94);
    border-radius: 10%;
}
#enviar {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-right: 20px; /* Espaço à direita */
    background-color: antiquewhite;
}
/*-----------------Enviar---------------------------------------*/
#btEnviar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background: rgb(253, 77, 54);
    color: rgb(0, 0, 0);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
#tipo_pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    background-color: antiquewhite;
    overflow: hidden; /* Garante que o menu não "quebre" */
    flex-direction: row;
}
.radio{
    margin: 10px;
     width: 20px; /* Aumente aqui para mudar o tamanho da bolinha */
    height: 20px; /* Aumente aqui para mudar o tamanho da bolinha */
    border: 2px solid #000; /* Borda da bolinha */
    border-radius: 50%; /* Faz a bolinha ser circular */
    background: white; /* Cor de fundo da bolinha */
}
#outros{
    visibility: hidden; /* O elemento ficará invisível, mas ainda ocupará espaço */
    width: 200px;
    height: 37px;
    margin-top: 0%;
    padding-left: 20px;
    font-size: 75%;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    border-radius: 2px;
    text-align: justify;
}

/*--------------- Pedido ---------------------*/
#direita_input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#data{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
    font-size: 370%;
    font-weight: 700;
}


#pedido_input{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 3%;
    margin-top: -2px;
    font-size: 200%;
    font-weight: 600;
}
/* ------ Parte Esquerda ------*/

#numeracao_div{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 80%;
}

#n_p{
    visibility: hidden;
    width: 92px;
    height: 37px;
    margin-top: 0.5%;
    padding-left: 10px;
    font-size: 75%;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    border:  solid black 3px;
    border-radius: 2px;
    text-align: justify;
    

}
#nome_p{
    display: flex;
    position: relative; /* Faz com que o elemento seja posicionado em relação ao contêiner */
    bottom:40px;  /* Distância do topo */
    left: 42%; /* Distância da esquerda */
    visibility: hidden;
    width: 40%;
    height: 37px;
    margin-top: 0.5%;
    padding-left: 10px;
    font-size: 75%;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    border: solid black 3px;
    border-radius: 2px;
    text-align: justify;

}
#nome_m{
    visibility: hidden;
    width: 190px;
    height: 37px;
    padding-left: 10px;
    font-size: 75%;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    border-radius: 2px;
    border: solid black 3px;
    text-align: justify;
}
#numeracao{
    margin-left: 10px;
    width: 100%;
    font-size: 80%;
}
#unidade{
display: flex;
justify-content: flex-start;
align-items: center;
font-size: 80%;
width: 100%;
margin-top: 30px;
margin-left: 10px;
}

#numeracao_m{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 5px;
    padding: 2%;
    width: 80px;
    height: 37px;
    font-size: 80%;
    font-weight: 700;
    border: solid black 3px;
}
#numeracao_f{
    visibility: visible;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 5px;
    padding: 2%;
    width: 80px;
    height: 37px;
    font-size: 80%;
    font-weight: 700;
    border: solid black 3px;
}
#descricao_div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    width: 90%;
    
}
.descricao{
    display: flex;
    margin: 10px;
    width: 90%;
    height: 150px;
    border: solid black 3px;
    border-radius: 5px;
    padding: 2%;
    font-size: 80%;
    resize: none; /* Desabilita o redimensionamento */
}
/* ------ Imagem ------*/
#imagem_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 350px;
}

#uploadimg {
    display: none;
    font-size: 50%;
    
}
.botaoImg{
    border-radius:10px ;
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}
.botaoImg:hover{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    transition: 0.3s;
    transform: scale(110%);
}

#modelo{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: 300px; /* Mantém a proporção da imagem */
    border: solid black;
    border-radius: 10px;
    border: solid black 1px;
    background-color: aliceblue;
}
#modelo_rainha{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 300px; /* Mantém a proporção da imagem */
    border-radius: 10px;
    border: solid black 2px;
}
#modelo2{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 300px; /* Mantém a proporção da imagem */
    border-radius: 10px;
    border: solid black 2px;
}


/* ------ Parte Esquerda ------*/

   

#esquerda_input{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
    width: 500px;
   
}
#dia_horas{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 170px;
    width: 100%;
}
#horaPedido{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 192px;
    height: 37px;
    font-size: 75%;
    font-weight: 600;
    font-family: cursive;
    border-radius: 2px;
}
#Div_entrega{
    display: flex;
    flex-direction: row;
    width: 90%;
    font-size: 100%;
    font-weight: 800;
    border-radius: 2px;
    margin-bottom: 35px;
}
#entrega{
    width: 180px;
    font-size: 80%;
    font-weight: 800;
    border-radius: 2px;
    border: solid black 3px;
}
.grav_input{
    display: flex;
    border: solid black;
    width: 100%;
    height: 150px;
    border: solid black 3px;
    border-radius: 5%;
    padding: 2%;
    font-size: 80%;
    resize: none; /* Desabilita o redimensionamento */
}
#grav_externa{
    visibility: hidden;
    margin-bottom: 20px;
    width: 100%;
}

footer {
    width: 100%;
    height: 50px;
    font-size: 150%;
    font-weight: 700;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    border: solid #000 4px;
    position: fixed; /* Fixa o footer na parte inferior da tela */
    bottom: 0; /* Posiciona na parte inferior */
    left: 0; /* Alinha à esquerda */
}

.div_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: 20px;
    border-left: solid black 5px; /* Borda esquerda de 2px */
    padding-left: 20px; /* Espaçamento interno após a borda */
}